.Post {
    border: 1px solid;
    width: calc(50% - 2px);
    height: 18.73vh;
    font-size: 1.8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Post:hover {
    cursor: pointer;
    background-color: rgb(116, 112, 112);
}
.BottomBox {
    margin-bottom: 1vh;
}

.Btn {
    width: 5vw;
    margin-top: 10px;
}